[Unit]
Description=Harvest Network Traffic Monitor
After=network.target powerd.service

[Service]
ExecStart=/opt/harvest-monitor/daemon.py

[Install]
WantedBy=multi-user.target
